@page "/"

    <div style="text-align:center">
        <h1>Dashboard Coming soon...</h1>
        <div class="error mx-auto" data-text="Soon..">Soon..</div>
        <i class="em em-face_with_rolling_eyes" aria-role="presentation" aria-label="Nothing to show"></i>
        Welcome to your new app.
    </div>

